.animalInfo-container {
    width: auto;
    height: auto;
    background-color: rgb(218, 185, 142);
    padding: 2rem;
    border-radius: 1rem;
}

.animalInfo-img {
  width: 25rem;    
  height: auto;        
  object-fit: cover;    
  border-radius: 14px;   
  display: block;
}

.long-desc {
    width: 30vw;
}

.info-box{
    width: 60vw;
}

.addInfo {
  width: 20vw;
  /* padding-top: 4rem; */
}