@import "tailwindcss";

:root {
  font-family: 'OliJoSansItalic', cursive;  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  color: black;
} 


body {
  background-image: url("../src/assets/bakgrund3.jpg");
  background-size:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}