@import "tailwindcss";

:root {
  font-family: Grandslang-roman, sans-serif, system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

} 


/* button {
  background: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
}
button:hover {
  transition: 1s;
  background: #0056b3;
  border-color: #0056b3;
} */




/* .main-container {

} */